# Client-side public environment values only
SUPABASE_URL=https://csrpvdkfkzbyermguhnn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_1Ijd_hIdbIufu5JNdzMAmA_ydEU0UpL
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzcnB2ZGtma3pieWVybWd1aG5uIiwicm9sZSIsImFub24iLCJpYXQiOjE3Njk4NDM4MTYsImV4cCI6MjA4NTQxOTgxNn0.FVhj9mGAGizT3h8DbfbaSN9bBKkPYkS_fDcXIZ_dCsc
POWERSYNC_URL=https://6975ed755f8ee4c525015889.powersync.journeyapps.com
POWERSYNC_TOKEN_FUNCTION=powersync-token
ONESIGNAL_APP_ID=4b12cbc5-548a-48da-bc39-beaf2e4df7dd
